nav {
    overflow-x: hidden;
    overflow-y: hidden;
    float: right;
}
/** {*/
/*    margin-top: 0px;*/
/*    margin-right: 0px;*/
/*    margin-bottom: 0px;*/
/*    margin-left: 0px;*/
/*    padding-top: 0px;*/
/*    padding-right: 0px;*/
/*    padding-bottom: 0px;*/
/*    padding-left: 0px;*/
  
   
   
}
ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
nav li{
    float: left;
    list-style-type: none;
    list-style-position: inherit;
    list-style-image: inherit;
}


nav li a {
    front-size: 40px;
    front-weight:bold;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style:initial;
    text-decoration-colour:initial;
    padding-top:0px;
    padding-right: 30px;
    padding-bottom:0px;
    padding-left: 30px;
    color: black;
    text-shadow: 0 1px o white;
}
.red{
    color: red;
}
.big {
    font-size: 2rem;
}